@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #000;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.Todo__container {
  top: 50px;
  width: 500px;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  min-height: 600px;
  background-color: rgba(27, 27, 27, 0.9);
  border-radius: 10px;
}

.Todo__container .todo-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  position: -webkit-sticky;
  position: sticky;
  margin: 0 auto;
  padding-bottom: 15px;
}

.Todo__container .todo-form input[type="text"] {
  margin-top: 30px;
  width: 410px;
  height: 44px;
  padding-left: 20px;
  font-size: 1.6rem;
  color: black;
  outline: none;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.Todo__container .todo-form input[type="text"]:focus {
  border: 1px solid #e6f870;
}

.Todo__container .todo-form .btn-submit {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 31px;
  min-width: 80px;
  outline: none;
  cursor: pointer;
  height: 44px;
  font-weight: bold;
  background-color: #909090;
}

.Todo__container .todo-form .btn-submit2 {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 31px;
  min-width: 80px;
  outline: none;
  cursor: pointer;
  height: 44px;
  font-weight: bold;
  background-color: #909090;
  display: none;
}

.Todo__container .todo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6px;
  width: 80%;
  margin: 0 auto;
  max-height: 450px;
  overflow-y: auto;
}

.Todo__container .todo-list::-webkit-scrollbar {
  width: 8px;
  height: 2px;
  /* background-color: var(--scroll-color); */
}

.Todo__container .todo-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--scroll-bg-color);
}

.Todo__container .todo-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 12px 0;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.Todo__container .todo-list-item:nth-child(1) {
  margin-top: 30px;
}

.Todo__container .todo-list-item-content {
  color: #030303;
  font-size: 2.1rem;
  font-weight: bold;
  width: 250px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  padding-bottom: 3px;
}

.Todo__container .todo-list-item .delete-icon {
  color: rgba(219, 13, 13, 0.9);
  font-size: 2.5rem;
  cursor: pointer;
  -webkit-transition: all 0.25 ease;
  transition: all 0.25 ease;
}

.Todo__container .todo-list-item .delete-icon:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.Todo__container .todo-list-item .edit-icon {
  color: #2f2f8d;
  font-size: 2.4rem;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.25 ease;
  transition: all 0.25 ease;
}

.Todo__container .todo-list-item .edit-icon:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.Todo__container .todo-list-item2 {
  text-align: center;
  margin: 20px 0;
  font-size: 2rem;
  color: #ffffff;
}

.Todo__container .todo-list .pending-text {
  font-size: 1.8rem;
  color: #ffffff;
  padding: 10px 3px;
}
/*# sourceMappingURL=style.css.map */